{% if page.image %}
<div class="entry-featured-image">
    {% if site.lazyimages == "enabled" %}
        <img class="featured-image lazyimg {% if page.imageshadow %} image-shadow {% endif %}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% else %}
        <img class="featured-image {% if page.imageshadow %} image-shadow {% endif %}" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% endif %}
    {% if page.image-credits %}
        <span class="featured-image-credits" style="line-height: 1.5; text-align: center;">
            <p style="margin-top: 20px;"><b>Image Credits: </b>{{ page.image-credits }}<br>{{ page.image-description }}</p>
        </span>
    {% endif %}
 </div>
{% endif %}