
@font-face {
font-family: "Fira Sans";
font-weight: 400;
font-style: normal;
src: url("../fonts/firasans-latin-400-roman.woff2") format('woff2');
}
@font-face {
font-family: "Fira Sans";
font-weight: 400;
font-style: italic;
src: url("../fonts/firasans-latin-400-italic.woff2") format('woff2');
}
@font-face {
font-family: "Fira Sans";
font-weight: 700;
font-style: normal;
src: url("../fonts/firasans-latin-700-roman.woff2") format('woff2');
}

@font-face {
font-family: "IBM Plex Mono";
font-weight: 400;
font-style: normal;
src: url("../fonts/ibmplexmono-latin-400-roman.woff2") format('woff2');
}
@font-face {
font-family: "IBM Plex Mono";
font-weight: 500;
font-style: normal;
src: url("../fonts/ibmplexmono-latin-500-roman.woff2") format('woff2');
}
@font-face {
font-family: "IBM Plex Mono";
font-weight: 700;
font-style: normal;
src: url("../fonts/ibmplexmono-latin-700-roman.woff2") format('woff2');
}